body {
      
      font-family: Arial, sans-serif;
      background:"img.jpg";
      height: 100vh;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .login-container {
      background-color: rgba(255, 255, 255, 0.181);
      padding: 40px;
      border-radius: 15px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      width: 300px;
    }

    .login-container h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      border: 1px solid #cccccc35;
      border-radius: 8px;
      box-sizing: border-box;
    }

    .login-container button {
      width: 100%;
      padding: 10px;
      
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
    }

    .login-container button:hover {
      background-color: #3946B0;
    }

    .login-container p {
      text-align: center;
      font-size: 14px;
      margin-top: 15px;
    }

    .login-container a {
      color: #5563DE;
      text-decoration: none;
    }

    .login-container a:hover {
      text-decoration: underline;
    }